@model AIS.Entities.Teachers

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование информации о преподавателе</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Преподаватель: @Model.LastName @Model.FirstName @Model.Patronymic </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdTeachers)

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.LastName, "Фамилия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.FirstName, "Имя", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.Patronymic, "Отчество (при наличии)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Patronymic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.IdStatusTeachers, "Статус преподавателя", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdStatusTeachers", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.IdStatusTeachers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.IdSpeciality, "Специальность на которой преподает", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdSpeciality", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.IdSpeciality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.Login, "Логин", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.Password, "Пароль", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row" style="padding-bottom: 20px">
            <div class="col-md-offset-2 col-md-4">
                @Html.ActionLink("Назад", "Index", new { }, new { @class = "btn btn-outline-secondary" } )
            </div>
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
}


