@model AIS.Entities.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление информации об учебной группе</h2>

<h4>Вы точно хотите удалить информацию о данной учебной группе?</h4>
<div>
    <h5>Группа: @Model.Title</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование учебной группы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Номер курса
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>

        <dt>
            Специальность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Назад", "Index", new { }, new { @class = "btn btn-outline-secondary" }) |
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    }
</div>
