@model IEnumerable<AIS.Entities.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Управление учебными группами </h2>

<p>
    @Html.ActionLink("Добавить новую учебную группу", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Наименование учебной группы
        </th>
        <th>
            Номер курса
        </th>
        <th>
            Наименование специальности
        </th>
        <th>Управление</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speciality.Title)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.IdGroup }, new { @class = "btn btn-outline-primary btn-sm" }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.IdGroup }, new { @class = "btn btn-outline-danger btn-sm" })
        </td>
    </tr>
}

</table>
