@model AIS.Entities.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление информации о студента</h2>

<h3>Вы точно хотите удалить информацию данного студента?</h3>
<div>
    <h4>Студент: @Model.LastName @Model.FirstName @Model.Patronymic </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Номер телефона
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            Специальность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Speciality.Title)
        </dd>

        <dt>
            Группа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Title)
        </dd>

        <dt>
            Статус Студента
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusStudent.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Назад", "Index", new { }, new { @class = "btn btn-outline-secondary" }) |
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    }
</div>
