@model AIS.Entities.Attestation

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление аттестации</h2>

<h3>Вы уверены что хотите удалить данную аттестацию?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата начала аттестации: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Дата конца аттестации: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Завершен: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сompleted)
        </dd>

        <dt>
            Группа: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Title)
        </dd>

        <dt>
            Дисциплина: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discipline.Title)
        </dd>

        <dt>
            Фамилия преподавателя: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers.LastName)
        </dd>

        <dt>
            Тип аттестации: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeAttestation.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться назад", "Index")
        </div>
    }
</div>
