@using AIS.Models
@model AttestationCriteriasViewModel

@{
    ViewBag.Title = "Edit";
}
<!-- Модальное окно -->
<div class="modal fade " id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Импорт критериев</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <h3>Выберите файл для импорта</h3>
                @using (Ajax.BeginForm("ImportCriterias", "Attestations", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <label for="formFileLg" class="form-label">Скачать шаблон можно по ссылке: @Html.ActionLink("Шаблон файла импорта", "Index", "Home")</label>
                        <input name="IdAttestation" value="@Model.Attestations.IdAttestation" readonly hidden />
                        <input class="form-control form-control-lg" id="formFileLg" name="upload" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required />
                    </div>
                    <br><br>
                    <input type="submit" class="btn btn-primary" value="Импортировать" />
                }
                <div class="row border" id="result" style="margin: 10px;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<h2>Редактирование аттестации</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input name="IdAttestation" value="@Model.Attestations.IdAttestation" readonly hidden />
        <div class="form-group">
            @Html.LabelFor(model => model.Attestations.IdDiscipline, "Дисциплина", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select class="form-select" id="IdDiscipline" name="IdDiscipline">
                    @foreach (var discipline in Model.Disciplines)
                    {
                        if (discipline.IdDiscipline == Model.Attestations.IdDiscipline)
                        {
                            <option selected="selected" value="@discipline.IdDiscipline">@discipline.Title</option>
                        }
                        else
                        {
                            <option value="@discipline.IdDiscipline">@discipline.Title</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Attestations.IdDiscipline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Attestations.StartDate, "Дата начала аттестации", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input class="form-control text-box single-line" data-val="true" data-val-date="Поле Дата начала аттестации должно содержать дату." data-val-required="Требуется поле Дата начала аттестации."
                       id="Attestations_StartDate"
                       name="StartDate" type="date" value="@Model.Attestations.StartDate.ToString("yyyy-MM-dd")">
                <span class="field-validation-valid text-danger" data-valmsg-for="Attestations.StartDate" data-valmsg-replace="true"></span>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Attestations.EndDate, "Дата конца аттестации", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="Поле Дата начала аттестации должно содержать дату." data-val-required="Требуется поле Дата начала аттестации."
                       id="Attestations_EndDate"
                       name="EndDate" type="date" value="@Model.Attestations.EndDate.ToString("yyyy-MM-dd")">
                <span class="field-validation-valid text-danger" data-valmsg-for="Attestations.EndDate" data-valmsg-replace="true"></span>

            </div>
        </div>
        <input name="IdTeachers" value="@Model.Attestations.IdTeachers" readonly hidden />
        <div class="form-group">
            @Html.LabelFor(model => model.Attestations.IdGroup, "Группа", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select class="form-select" id="IdGroup" name="IdGroup">
                    @foreach (var group in Model.Groups)
                    {
                        if (group.IdGroup == Model.Attestations.IdGroup)
                        {
                            <option selected="selected" value="@group.IdGroup">@group.Title</option>
                        }
                        else
                        {
                            <option value="@group.IdGroup">@group.Title</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Attestations.IdGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Attestations.IdTypeAttestation, "Вид аттестации", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdTypeAttestation", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.Attestations.IdTypeAttestation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Обновить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Добавить критерий", "Create", new { idAttestation = Model.Attestations.IdAttestation }, new { @class = "btn btn-secondary" })
    <!-- Кнопка-триггер модального окна -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Импорт критериев
    </button>
</p>
<table class="table">
    <tr>
        <th>
            Наименование критерия
        </th>
        <th>
            Описание
        </th>
        <th>
            Балл за критерий
        </th>
        <th>
            Процент снятия
        </th>
        <th>
            Балл снятия
        </th>
        <th class="text-center">
            Управление
        </th>
        <th class="text-center">

        </th>

    </tr>

    @foreach (var item in Model.Criterias)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPionts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithdrawPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemoveAPoint)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.IdCriteria }, new { @class = "btn btn-outline-secondary btn-sm" })
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", new { id = item.IdCriteria }, new { @class = "btn btn-outline-secondary btn-sm" })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
