@model AIS.Entities.Criteria

@{
    ViewBag.Title = "Create";
}

<h2>Добавление нового критерия к аттестации</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <input hidden readonly id="IdAttestation" name="IdAttestation" value="@ViewBag.IdAttestation" />
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.Title, "Название критерия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.Description, "Методика проверки критерия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.NumberOfPionts, "Максимальный балл за критерий (формат 0,00)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfPionts, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfPionts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.WithdrawPercent, "Процент снятия (формат целых неотрицательных чисел)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WithdrawPercent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WithdrawPercent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            @Html.LabelFor(model => model.RemoveAPoint, "Балл снятия (формат 0,00)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemoveAPoint, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemoveAPoint, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom: 20px">
            <div class="col-md-offset-2 col-md-4">
                @Html.RouteLink("Назад", new { controller = "Attestations", action = "Edit", id = ViewBag.IdAttestation }, new { id = ViewBag.IdAttestation, @class = "btn btn-outline-secondary" })
            </div>
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
}

