@model AIS.Entities.Criteria

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление информации об аттестации</h2>

<h3>Вы точно хотите удалить информацию о данному критерии?</h3>
<div>
    <h4>Критерий: @Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название критерия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Методика проверки критерия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Максимальный балл за критерий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPionts)
        </dd>

        <dt>
            Процент снятия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithdrawPercent)
        </dd>

        <dt>
            Балл снятия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoveAPoint)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.RouteLink("Назад", new { controller = "Attestations", action = "Edit", id = Model.IdAttestation }, new { id = Model.IdAttestation, @class = "btn btn-secondary" })|
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>

    }

</div>
